*, *::before, *, ::after{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --primary: rgb(92, 45, 213);
  --secondary: rgb(121, 69, 255);
  --player1: rgb(253 , 102, 135);
  --player2: rgb(255 , 206, 103);
  --outlineHover: #4aa5e2;
}

body{
  background-color: var(--secondary);
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
}

.buttonsContainer{
  /* outline: 1px solid wheat; */
  width: 335px;
  height: 305px;
  margin: 0 auto;
  margin-top: 20.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.logoImage{
  margin: 0 auto;
  margin-bottom: 7.9rem;
}

.mainMenuButtons{
  width: 100%;
  margin-bottom: 3rem;
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 2.4rem;
  color: #000000;
  border-radius: 10px;
  outline: 3px solid black;
  border: 0;
  text-align: left;
  padding: 2rem;
  box-shadow: 0px 7px 0px 4px;
  transition: all 0.2s;
  text-decoration: none;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.mainMenuButtons.playerVsPlayer{
  background-color: var(--player2);
}

.mainMenuButtons img{
  right: 20px;
  position: absolute;
}

.mainMenuButtons:hover{
  box-shadow: 0px 7px 0px 4px var(--outlineHover);
}

h1{
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 71px;
}

h2{
  font-weight: 700;
  font-size: 2rem;
}

/* Rules Page  */
.rulesPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rulesContainer{
  margin: 97px 20px;
  height: 58.6rem;
  width: 33.5rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 43px;
  box-shadow: 0px 8px 0px 0px;
  position: relative;
}

.rulesHeading{
  text-align: center;
  margin-bottom: 2.9rem;
}

.textContainer{
  margin: 0 auto;
  width: 90%;
}

.rulesContainer .textContainer h2{
  font-size: 2rem;
  line-height: 26px;
  color: #7945FF;
  margin-bottom: 1.6rem;
}

.rulesContainer .textContainer p, .rulesContainer .textContainer ol li{
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 20px;
  opacity: 0.66;
}

.rulesContainer .textContainer p{
  margin-bottom: 3.3rem;
}

.rulesContainer .textContainer ol li{
  margin-bottom: 1rem;
}

.rulesContainer .textContainer ol{
  margin-left: 1.65rem;
}

.rulesTickButton{
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  height: 64px;
  width: 64px;
  outline: 1px solid black;
  border: 1px solid black;
  box-shadow: 0px 2px 0px 4px black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.rulesTickButton:hover{
  outline: 1px solid var(--outlineHover);
  border: 1px solid var(--outlineHover);
  box-shadow: 0px 2px 0px 4px var(--outlineHover);
}

.rulesTickButton img{
  transform: translateY(2px);
}

@media screen and (min-width: 768px) {
  .rulesContainer{
    width: 48rem;
    height: 56.9rem;
  }
}

@media screen and (min-width: 768px) and (min-height: 800px) {
  .rulesContainer{
    margin-top: 228px;
  }
}

@media screen and (min-width: 1280px){
  .rulesContainer{
    margin-top: 182px;
  }
}

/* Play page  */
.playArea{
  margin: 0 2rem;
  position: relative;
}

.playButtonsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto;
}

.playScreenLogo{
  width: 40px;
  height: 40px;
}

.gameButton{
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  font-family: 'Space Grotesk';
  font-weight: 700;
  color: #FFFFFF;
  outline: 0;
  border: 0;
  padding: 1rem 3.1rem;
  background: #5C2DD5;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.15s;
}

.gameButton:hover{
  background: var(--player1);
}

.playersBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.playersTextBubble{
  background-color: white;
  border: 3px solid #000000;
  box-shadow: 0px 10px 0px #000000;
  border-radius: 20px;
  width: 14.2rem;
  height: 8.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 14.2rem;
  position: relative;
}

.playersTextBubble h2{
  font-size: 1.6rem;
  line-height: 2rem;
}

.playersTextBubble p{
  font-size: 3.2rem;
  line-height: 4.1rem;
}

.playersTextBubble img{
  position: absolute;
}

.playerOneImage{
  left: -2.5rem;
}

.playerTwoImage{
  right: -2.5rem;
}

.gameBoard{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 23.1rem;
}

.backImageLayer, .frontImageLayer{
  position: absolute;
}

.backImageLayer{
  z-index: 1;
}

.frontImageLayer{
  z-index: 3;
  position: relative;
}

.gameBoard table{
  top: 0px;
  z-index: 2;
  position: absolute;
  width: 328px;
  height: 286px;
}

.gameBoard table tr td{
  text-align: center;
  position: relative;
}

.token{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.playerTurnBox{
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  bottom: -150px;
  background-image: url("../public/assets/images/turn-background-red.svg");
  width: 197px;
  height: 166px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerTurnBox h3{
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}

.playerTurnBox p{
  display: block;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 7.1rem;
}

@media screen and (min-width: 768px) {
  .backImageLayer{
    content: url("/public/assets/images/board-layer-black-large.svg");
  }
  
  .frontImageLayer{
    content: url("/public/assets/images/board-layer-white-large.svg");
  }

  .gameBoard table{
    width: 619px;
    height: 530px;
    top: 10px;
  }
  
  .token.red{
    content: url("/public/assets/images/counter-red-large.svg");
  }

}

@media screen and (min-width: 1024px) {
 .playButtonsContainer{
  width: 63.2rem;
  height: 5.2rem;
 }

 .playersTextBubble{
  height: 18.7rem;
  width: 14.1rem;
 }

 .playerOneImage, .playerTwoImage{
  top: -28px;
  left: 50%;
  transform: translate(-50%, 0%);
 }

 .playersBox{
  width: 95rem;
  justify-content: space-between;
  position: absolute;
  top: 56%;
  right: 50%;
  transform: translate(50%, -50%);
 }

 .playersTextBubble h2{
  font-size: 2rem;
  line-height: 2.6rem;
 }
 
 .playersTextBubble p{
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 7.1rem;
 }

}

@media screen and (min-width: 1280px) {
  .playersBox{
    width: 100rem;
  }
 }
