*, *::before, *, ::after{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

:root{
  --primary: rgb(92, 45, 213);
  --secondary: rgb(121, 69, 255);
  --player1: rgb(253 , 102, 135);
  --player2: rgb(255 , 206, 103);
}

body{
  background-color: var(--primary);
  font-family: 'Space Grotesk', sans-serif;
}

.buttonsContainer{
  /* outline: 1px solid wheat; */
  width: 335px;
  height: 305px;
  margin: 0 auto;
  margin-top: 20.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.logoImage{
  margin: 0 auto;
  margin-bottom: 7.9rem;
}

.mainMenuButtons{
  width: 100%;
  margin-bottom: 3rem;
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 2.4rem;
  color: #000000;
  border-radius: 10px;
  outline: 3px solid black;
  border: 0;
  text-align: left;
  padding: 2rem;
  box-shadow: 0px 7px 0px 4px;
  transition: all 0.2s;
  text-decoration: none;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.mainMenuButtons.playerVsPlayer{
  background-color: var(--player2);
}

.mainMenuButtons img{
  right: 20px;
  position: absolute;
}

.mainMenuButtons:hover{
  box-shadow: 0px 7px 0px 4px #4aa5e2;
}